<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="usuario" (ngSubmit)="guardarDatos()">
    <ion-item>
      <ion-label>Nombre:</ion-label>
      <ion-input formControlName="nombre" placeholder="ingresa tu nombre"></ion-input>
    </ion-item>

    <ion-label color="danger"
      *ngIf="usuario.controls.nombre.errors?.['required'] && (usuario.touched || usuario.dirty)">*
      El nombre es obligatorio </ion-label>

    <ion-label color="danger"
      *ngIf="usuario.controls.nombre.errors?.['minlength'] && (usuario.touched || usuario.dirty)">*
      El nombre tiene que tener al menos 4 caracteres.</ion-label>

    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email" placeholder="ingresa tu email"></ion-input>
    </ion-item>

    <ion-label color="danger" *ngIf="usuario.controls.email.errors?.['email'] && (usuario.touched || usuario.dirty)">*
      El email no es válido.</ion-label>

    <ion-item>
      <ion-label>Edad:</ion-label>
      <ion-input formControlName="age" type="number" placeholder="000"></ion-input>
    </ion-item>

    <ion-label color="danger"
      *ngIf="usuario.controls.age.errors?.['required'] && (usuario.touched || usuario.dirty)">*La edad es
      obligatoria</ion-label>

    <p class="ion-text-center">
      <ion-button type="submit" [disabled]="!usuario.valid">Guardar</ion-button>
    </p>

  </form>
  <b> Nuevo usuario registrado con los siguientes datos: </b>
  <p class="ion-padding">Usuario: {{ usuario.controls.nombre.value }}<br>Email: {{ usuario.controls.email.value }}<br>
    Edad: {{ usuario.controls.age.value }}</p>


</ion-content>